<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.igorl.ececvagasdeestagio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTheme">
        <activity android:name=".Views.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.SolicitarCadastro"
            android:label="@string/tela_cadastro" >
        </activity>
        <activity android:name=".Views.Principal" ></activity>
        <activity
            android:name=".Views.AdministracaoVagas"
            android:label="@string/tela_admin_vagas" >
        </activity>
        <activity
            android:name=".Views.CadastroVaga"
            android:label="@string/tela_cadastro_vaga"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Views.AdministracaoUsuarios"
            android:label="@string/tela_admin_user" >
        </activity>
        <activity
            android:name=".Views.Perfil"
            android:label="@string/tela_usuario" >
        </activity>
        <activity android:name=".Fragmentos.TabUsuarios" ></activity>
        <activity android:name=".Fragmentos.TabAdmins" ></activity>
        <activity android:name=".Fragmentos.TabDisponiveis" ></activity>
        <activity android:name=".Fragmentos.TabEncerradas" ></activity>
        <activity android:name=".Views.LinhaUsers" ></activity>
        <activity android:name=".Views.LinhaVagas" ></activity>
        <activity android:name=".Views.CadastroUsuario" ></activity>
        <activity
            android:name=".Views.RecuperarAcesso"
            android:label="@string/recuperar_acesso">
        </activity>
    </application>

</manifest>