<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.igorl.ececvagasdeestagio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTheme">
        <activity
            android:name=".Views.Login"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Views.SolicitarCadastro"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation" />

        <activity
            android:name=".Views.Principal"
            android:configChanges="orientation"
            />

        <activity android:name=".Views.AdministracaoVagas"
            android:parentActivityName=".Views.Principal"
            android:configChanges="orientation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Views.Principal" />
        </activity>


        <activity
            android:name=".Views.CadastroVaga"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation" />


        <activity android:name=".Views.AdministracaoUsuarios"
            android:parentActivityName=".Views.Principal"
            android:configChanges="orientation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Views.Principal" />
        </activity>

        <activity
            android:name=".Views.Perfil"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation" />

        <activity android:name=".Fragmentos.TabUsuarios" />
        <activity android:name=".Fragmentos.TabAdmins" />
        <activity android:name=".Fragmentos.TabDisponiveis" />
        <activity android:name=".Fragmentos.TabEncerradas" />
        <activity android:name=".Views.LinhaUsers" />
        <activity android:name=".Views.LinhaVagas" />

        <activity
            android:name=".Views.CadastroUsuario"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation" />


        <activity
            android:name=".Views.RecuperarAcesso"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation" />



        <activity android:name=".Views.UsuariosSolicitados" />
        <activity
            android:name=".Views.VagaActivity"
            android:configChanges="orientation"/>
        <activity
            android:name=".Views.EditarUsuario"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation" />
        <activity
            android:name=".Views.EditarVaga"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"/>

        <service android:name=".DAO.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".DAO.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Views.PrincipalAluno"
            android:configChanges="orientation"
            />
    </application>

</manifest>